configuration {
    modi:           "drun,run,window";
    show-icons:     true;
    icon-theme:     "Adwaita";
    terminal:       "alacritty";
    drun-display-format: "{name}";
    hover-select:   false;
    kb-primary-paste: "ctrl+shift+v";
    display-drun: "󰍉";
}

@theme "/usr/share/rofi/themes/gruvbox-dark-soft.rasi"

