* {
    font-family: "Pier Sans";
    font-size: 13px;
}

window {
    background-color: rgba(25, 23, 36, 0.50);
}

window > box {
    margin: 8px 0;
}

#window {
    color: #e0def4;
    font-weight: bold;
    font-size: 14px;
}

#custom-arch {
    color: #9ccfd8;
    font-size: 20px;
    padding: 0 12px;
}

#workspaces {
    background: rgba(15, 14, 22, 0.90);
    border: 1px solid #26233a;
    border-radius: 14px;
    padding: 0 6px;
}

#workspaces button {
    color: #9ccfd8;
    font-size: 15px;
    padding: 0 5px;
    margin: 3px 2px;
    border: none;
    border-radius: 50%;
    background: #9ccfd8;
}

#workspaces button.active {
    color: #31748f;
    background: #31748f;
}

#taskbar button {
    padding: 0px 4px;
    margin: 3px;
    border-radius: 6px;
    background: rgba(0, 0, 0, 0.4);
    border: none;
}

#taskbar button.active {
    background: #9ccfd8;
}

#mpris,
#cpu,
#memory,
#backlight,
#wireplumber,
#network,
#battery,
#clock,
#custom-power {
    padding: 0 8px;
    font-size: 15px;
    border-radius: 8px;
    font-weight: bold;
}

#mpris {
    color: #191724;
    background: #1db954;
    border: 1px solid #1db954;
}

#cpu {
    color: #191724;
    background: #9ccfd8;
    border: 1px solid #9ccfd8;
}

#memory {
    color: #191724;
    background: #9ccfd8;
    border: 1px solid #9ccfd8;
}

#backlight {
    color: #191724;
    background: #c4a7e7;
    border: 1px solid #c4a7e7;
}

#wireplumber,
#network,
#battery,
#clock,
#custom-power {
    color: #191724;
    background: #c4a7e7;
    border: 1px solid #c4a7e7;
}

